nav {
  margin: 0;
  display: flex;
  justify-content: flex-end;
  z-index: 999;
  background-color: var(--color_dark);
}

.menu {
  display: flex;
}

.menu * {
  color: var(--fontColor_sec);
}

.menu span {
  padding: 1vh 1.5vw;
  margin: 0.2vh 0.5vw;
  text-align: center;
  cursor: pointer;
  position: relative;
  font-weight: bold;
  font-size: clamp(0.8, 1.5vw, 1em);
}

.menu span::before {
  content: '';
  position: absolute;
  inset: 4px; 
  transform-origin: center;
  transform: scaleX(0);
  transition: transform .15s ease-in-out;
  z-index: -1;
  background-color: var(--color_accent);
  border-radius: 2px;
}

.menu span:hover::before {
  transform-origin: top;
  transform: scaleX(1);
}

#menuBtn {
  display: none;
}

@media screen and (max-width: 1200px) {
  nav {
    justify-content: left;
  }

  .menu {
    flex-direction: column;
  }

  .menu span {
    display: none;
    margin-left: -4px;
  }

  #menuBtn {
    display: block;
  }

  .menu.responsive {
    flex-direction: column;
    overflow: hidden;
    align-items: flex-start;
  }

  .menu.responsive span {
    display: block;
    text-align: left;
  }

  .menu span::before {
    transform-origin: left;
    transform: scaleX(0);
    transition: transform .2s ease-in-out;
  }
  
  .menu span:hover::before {
    transform-origin: left;
    transform: scaleX(1);
  }
}
